:root {
  --sl-text-2xl: 1.25rem;
  --sl-text-3xl: 1.3rem;
  --sl-text-4xl: 1.8rem;
}

@media (min-width: 50em) {
  :root {
    --sl-nav-height: 4rem;
    --sl-nav-pad-x: 1.5rem;
    --sl-text-h1: var(--sl-text-5xl);
    --sl-text-h2: var(--sl-text-4xl);
    --sl-text-h3: var(--sl-text-3xl);
    --sl-text-h4: var(--sl-text-2xl);
  }
}

@media (min-width: 72rem) {
  :root {
    --sl-content-pad-x: 1.5rem;
    --sl-mobile-toc-height: 0rem;
  }
}

.site-title {
  color: var(--sl-color-white);
}

[alt='intro'] {
  border-radius: 0.5rem;
}

[aria-current='page'] {
  background: transparent;
  color: var(--sl-color-accent);
}

[aria-current='page']:hover {
  background: var(--sl-color-accent-low);
  color: var(--sl-color-accent);
}

.active {
  color: var(--sl-color-accent);
}

.active:hover {
  background: var(--sl-color-accent-low);
}

.icon-style svg {
  height: 1em;
  width: 1em;
}

.icon-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-style svg path {
  transition: fill 0.2s ease-in-out;
  fill: currentColor;
}

.icon-style.icon-active svg path {
  fill: var(--sl-color-accent);
}

.icon-style.icon-active:hover svg path,
.group:hover .icon-style.icon-active svg path {
  fill: var(--sl-color-accent-high) !important;
}

.group:hover .icon-style.icon-inactive svg path {
  fill: var(--sl-color-white);
}

#starlight__sidebar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#starlight__sidebar::-webkit-scrollbar-thumb {
  background: var(--sl-color-gray-4);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}
