---
const { title } = Astro.locals.starlightRoute.entry.data;
const isHomepage = Astro.locals.starlightRoute.id === "";

import iconMap from "./../utils/icon.map";
---

{
  isHomepage ? (
    <>
      <img class="w-full" src="/intro.png" alt="intro" />
      <h1 class="flex text-4xl font-bold items-center gap-4">
        <span class="icon-style icon-active" set:html={iconMap[title]} />
        {title}
      </h1>
    </>
  ) : (
    <h1 class="flex text-4xl font-bold items-center gap-4">
      {iconMap[title] && (
        <span class="icon-style icon-active" set:html={iconMap[title]} />
      )}
      {title}
    </h1>
  )
}

<style>
  @import "tailwindcss";
</style>
